<h1>Dashboard</h1>

<h3>Total Revenue(in thousands)</h3>
$<%= @total_revenue %>
<h3>Total Contacts:</h3>
<%= @total_contacts %> contacts
<h3>Total Leads:</h3> <%= @total_leads %> leads
<h3>Total Accounts:</h3> <%= @total_accounts %> accounts
