@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url('crm_icon_modul.png');
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: right;
  background-attachment: fixed;
  background-size: 600px 600px;
}

#page-content-wrapper .container-fluid .table {
 font-size: 25px;
 font-weight: bold;
 padding-top: 20px;
}

#page-content-wrapper .container-fluid .table table-striped .dashboard {
 font-size: 10px;
 padding-top: 20px;
 list-style-type: none;
}
