@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url('crm_icon_modul.png');
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: right;
  background-attachment: fixed;
  background-size: 600px 600px;
}

#page-content-wrapper .container-fluid .table {
 font-size: 25px;
 font-weight: bold;
 padding-top: 20px;
}

#page-content-wrapper .container-fluid #leads_group ul {
 font-size: 15px;
 font-weight: bold;
 list-style-type: none;
}

#page-content-wrapper .container-fluid #lead_show ul {
 font-size: 25px;
 list-style-type: none;
}

#page-content-wrapper .container-fluid #company-form {
 font-size: 25px;
}

#page-content-wrapper .container-fluid h3 {
 font-size: 40px;
 font-weight: bold;
 list-style-type: none;
 background-color: white;
}

#page-content-wrapper .container-fluid p {
 font-size: 25px;
}
