/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url('crm_icon_modul.png');
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: right;
  background-attachment: fixed;
  background-size: 600px 600px;
}

#page-content-wrapper .container-fluid .table {
 font-size: 25px;
 font-weight: bold;
 padding-top: 20px;
}

#page-content-wrapper .container-fluid #leads_group ul {
 font-size: 15px;
 font-weight: bold;
 list-style-type: none;
}

#page-content-wrapper .container-fluid #lead_show ul {
 font-size: 25px;
 list-style-type: none;
}

#page-content-wrapper .container-fluid #company-form {
 font-size: 25px;
}

#page-content-wrapper .container-fluid h3 {
 font-size: 40px;
 font-weight: bold;
 list-style-type: none;
 background-color: white;
}

#page-content-wrapper .container-fluid p {
 font-size: 25px;
}
